<div id="modalRxDelete" class="modal fade modal-new" tabindex="-1" data-width="760" data-backdrop="static">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
      <h4 class="modal-title">Delete</h4>
  </div>
  <div class="modal-body">
    <div class="text-center mt-20">
      <i class="fa fa-exclamation-circle icon-check-lg txt-red"></i>
      <p>Are you sure you want to remove this medicine from the RX?</p>
      <p>Medicine Name: <span id="medicineName"></span></p>
      <div>
        <a href="javascript:;" class="btn btn-ahalf-circle text-uppercase grey-dark btn-sm ml-10" data-dismiss="modal">Cancel</a>
        <a href="javascript:;" class="btn btn-ahalf-circle text-uppercase red btn-sm ml-10" id="rxConfirmBtn" >Delete</a>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="hiddenDrug">