[doctorName] has updated the Prescription.
<table>
    <tr><td><strong>Drug Name:</strong></td></tr>
    <tr><td>[drugName]</td></tr>
    <tr><td><strong>Old Instructions:</strong></td></tr>
    <tr><td>[oldInstruction]</td></tr>
    <tr><td><strong>New Instructions:</strong></td></tr>
    <tr><td>[newInstruction]</td></tr>
</table>