/web/bundles/
/app/bootstrap.php.cache
/app/cache/*

/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/.idea
/web/uploads
/web/media
/web/js/
/web/css/
*.php~
/app/config/parameters.yml
/web/uploads
