<div id="modal-messages" class="modal fade modal-new" data-width="700" data-backdrop="static">
    <div class="modal-body">
        <div class="text-center">
            <i class="fa fa-exclamation-circle icon-check-lg txt-red mt-15"></i>
            <div class="item-content"> </div>
            <div>
                <a href="javascript:void(0);" class="btn btn-ahalf-circle text-uppercase grey-dark btn-sm ml-10" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>