<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr style="background-color: #d6d6d6;">
        <td width="30"></td>
        <td>
            <table width="100%"  border="0" cellpadding="0" cellspacing="0">
                <tr><td height="10"></td></tr>
                <tr>
                    <td><font color="#000000" face="Arial, Helvetica, sans-serif" style="font-size: 12px">Please add our email to your Safe Sender list to ensure that we can reach you.</font></td>
                </tr>
                <tr><td height="10"></td></tr>
            </table>
        </td>
        <td width="30"></td>
    </tr>
    <tr>
        <td colspan="3">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color: #ebebeb;">
                <tr>
                    <td width="30"></td>
                    <td>
                        <table width="100%"  border="0" cellpadding="0" cellspacing="0">
                            <tr><td height="20"></td></tr>
                            <tr>
                                <td><img src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/doctor/images/logo-gmeds.png') }}" style="display:block;border:0;margin:0;" title="Logo" alt="Logo"></td>
                                <td width="10"></td>
                                <td>{% include '@Admin/emails/footer.html.twig' %}</td>
                            </tr>
                            <tr><td height="20"></td></tr>
                        </table>
                    </td>
                    <td width="30"></td>
                </tr>

            </table>
        </td>
    </tr>
</table>