<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="30"></td>
        <td>
            <table width="100%"  border="0" cellpadding="0" cellspacing="0">
                <tr><td height="10"></td></tr>
                <tr>
                    <td><font color="#000;" face="Arial, Helvetica, sans-serif" style="font-size: 12px; color: #000;">
                Malaysia Office: GMedes Sdn Bhd | Empire Tower - Block A, Level 5 Unit 10, SS16/1, Subang Jaya, 47500 Selangor, Malaysia<br />
                Singapore Office: GMedes Pte Ltd | 115 Eunos Ave 3, #05-01 Singapore 409839
                {% if isPA is defined %}
                <br>Read the <a href="{{ base_url }}/patient_agreement.html" target="_blank">Patient's Terms of Service</a>
                {% endif %}
                </font>
            </td>
                </tr>
                <tr><td height="10"></td></tr>
            </table>
        </td>
        <td width="30"></td>
    </tr>
</table>