<div id="modal-gd-form" class="modal fade modal-new" tabindex="-1" data-width="900" data-backdrop="static">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
      <h4 class="modal-title">Create New Group</h4>
  </div>
  <div class="modal-body content-views">    
  </div> 
</div>   
<div id="modal-move-group" class="modal fade modal-new" tabindex="-1" data-width="760" data-backdrop="static">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
      <h4 class="modal-title">Move Group to Move</h4>
  </div>
  <div class="modal-body content-views">  
  </div> 
</div>
  
<div id="modal-gd-delete" class="modal fade modal-new" tabindex="-1" data-width="760" data-backdrop="static">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
      <h4 class="modal-title txt-red">Deleting Group</h4>
  </div>
  <div class="modal-body content-views">
  </div>
</div> 