<div class="content supported-browser {{ class }}">G-MEDS is best used on <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a>, <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>, and <a href="https://www.microsoft.com/en-sg/windows/microsoft-edge" target="_blank">Microsoft Edge</a></div>
<div id="browser-detection" data-keyboard="false" data-backdrop="static" class="modal fade modal-new" tabindex="-1" data-width="700">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ asset('bundles/admin/assets/pages/img/oops-human.jpg')}}" alt="Unsupported Browser" width="100%" />
            </div>
            <div class="col-md-8">
                <div class="portlet-title">
                    <div class="caption">
                        <h3 class="caption-subject sbold" id="title">Oops, your browser is not fully supported</h3>
                    </div>
                </div>
                <div class="portlet-body">
                    <p>Some functionalities of G-MEDS Platform may not work on your browser</p>
                    <p>For the best experience, please use any of the following browsers</p>
                </div>
                <div class="row margin-bottom-30 padding-tb-15">
                    <div class="col-md-4 text-center">
                        <div class="margin-bottom-10">
                            <span class="fa fa-chrome fa-3x margin-top-15"></span>
                        </div>
                        <a href="https://www.google.com/chrome/" target="_blank">Chrome</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="margin-bottom-10">
                            <span class="fa fa-firefox fa-3x margin-top-15"></span>
                        </div>
                        <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="margin-bottom-5">
                            <img src="{{ asset('bundles/admin/assets/pages/img/edge-icon.svg')}}" width="42" />
                        </div>
                        <a href="https://www.microsoft.com/en-sg/windows/microsoft-edge" target="_blank">Edge</a>
                    </div>
                </div>

                <div class="text-center">
                    <a href="#" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-sm" data-dismiss="modal" >Close</a>
                </div>
            </div>
        </div>
    </div>
</div>
